<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanzm.test.dao.UserMapper">

    <select id="queryUserList" resultType="com.duanzm.entity.User">
        select id, name, age, sex from zm.person
    </select>

    <select id="queryUserList2" resultType="com.duanzm.entity.User">
        select id, name, age, sex from duanzm.person
    </select>

    <insert id="addUser" parameterType="com.duanzm.entity.User">
        INSERT INTO person(id, name, age, sex) VALUE(#{id}, #{name}, #{age}, #{sex})
    </insert>
</mapper>